body {
  text-align: center;
  max-width: 900px;
  margin: 0 auto;
}

header {
  font-family: Roboto, cursive;
  align-items: center;
  background-color: rgba(14, 14, 132, 0.881);
  color: white;
  text-align: center;
  border-radius: 1em;
  padding: 20px;
}

main {
  padding: 20px;
}

h1 {
  margin: auto;
}

button {
  margin-left: auto;
}

#menu::before {
  content: "☰";
}

#menu.open::before {
  content: "x";
}

nav a {
  display: none;
  text-decoration: none;
  color: white;
  background-color: black;
  padding: 10px;
}

.sections {
  display: block;
}

.card {
  border: 1px solid rgba(14, 14, 132, 0.881);
  padding-bottom: 0.5em;
  margin: 0.3rem;
  border-radius: 0.5em;
  box-shadow: 10px 10px 15px grey, -10px 0px 15px grey;
}

.lessonList {
  list-style: none;
  text-align: left;
}

h3 {
  background-color: #f9e177;
  padding: 0.5rem;
  margin-top: 0px;
  border-top-right-radius: 0.5em;
  border-top-left-radius: 0.5em;
}

.banner,
img {
  width: 100%;
  padding: 0px;
  margin: 0em;
  margin-top: 1.5em;
}

.img-mobile {
  max-width: 350px;
}

footer {
  background-color: rgba(14, 14, 132, 0.881);
  color: white;
  padding: 0.5em;
}

.open a {
  display: block;
}

.active::before {
  content: "🟡🔵";
}

table,
th,
td {
  border: 1px solid black;
}

th,
td {
  padding: 10px;
}
.table {
  display: inline-block;
  padding: 10px;
}

.primary {
  background-color: #067bc2;
}

.secondary {
  background-color: #1bb145;
}

.accent1 {
  background-color: #f9e177;
}

.accent2 {
  background-color: #f37748;
}

.font {
  border: 1px dashed rgba(19, 17, 17, 0.911);
}
