body {
  text-align: center;
  position: relative;
  margin: 0 auto;
  min-width: 250px;
}

header {
  background-color: rgba(14, 14, 132, 0.881);
  color: white;
  padding: 20px;
}

img {
  max-width: 100%;
  border-radius: 1em;
}
.box {
  background-color: rgba(211, 211, 211, 0.877);
  padding: 0.5em;
  margin: 0 10px;
}

section h2 {
  background-color: rgba(14, 14, 132, 0.881);
  color: white;
  border-top-left-radius: 1em;
  border-top-right-radius: 1em;
  margin: 1em 10px 0;
  padding: 0.5em;
}

footer {
  background-color: rgba(14, 14, 132, 0.881);
  padding: 1em;
  color: white;
}
