

body {
  display: grid;
  grid-template-rows: auto 1fr auto;
  text-align: center;
  max-width: 620px;
  position: relative;
  margin: 0 auto;
}

header {
  font-family: Roboto, cursive;
  display: grid;
  grid-template-columns: 150px auto;
  align-items: center;
  background-color: rgba(14, 14, 132, 0.881);
  color: white;
  text-align: center;
  border-radius: 1em;
  padding: 20px;
}

nav {
  display: grid;
}

nav a {
  display: grid;
  text-decoration: none;
  color: white;
  background-color: black;
  padding: 10px;
}

main {
  display: grid;
  /* grid-template-columns: minmax(min-content, 300px); */
  grid-template-rows: auto auto;
}

.card {
  display: grid;
  grid-template-rows: auto auto;
}

.lessonList {
  list-style: none;
  text-align: left;
}

h3 {
  background-color: rgba(14, 14, 132, 0.881);
  color: white;
}

footer {
  background-color: rgba(14, 14, 132, 0.881);
  color: white;
}
