@media screen and (min-width: 1000px) {
  body {
    max-width: none;
  }

  nav {
    display: flex;
    background-color: black;
  }
  nav a:hover {
    margin-left: 20px;
    margin-right: 20px;
    color: yellow;
  }

  nav a {
    flex: 1 1 100%;
  }
}
